<%- include("partials/header"); -%>

<div class="container particularPost">
<h2><%=element.title%></h2>
<p> <%= element.content %> </p>
<div class="author"> Author - <span> <%= element.author %> <span>

</div>

<%- include("partials/footer"); -%>

