<%- include("partials/header"); -%>

<div class="profileSection">
    <h2 class="profilePrimaryHeading">Your Feed </h2>

    <%posts.slice().reverse().forEach(function(element){%>
        <%let checker = element.title;%>
        <%if(checker){%>
    	    <div class="home-page-box">
                <div class="box-title"><h2><%=checker%></h2></div>
                <p><%=(element.content).substring(0,400) + "..." %> 
                <a href="/posts/<%=element.title%> ">Read More</a></p>
                <a href="/delete/<%=element.title%>"> 
                <button class="btn deleteBtn"> Delete </button>
                </a>
   		    </div>
        <%}%>
    <%})%> 

    <% if(posts.length === 0){ %>
        <div> <p> No posts found. <a href="https://blogx-eyrie.herokuapp.com/compose"> Click here </a> to add a post.<p> </div>
    <% } %>

</div>

<%- include("partials/footer"); -%>

